/* You're welcome to change any of this! */

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Mono:wght@100&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}
header {
    padding: 20px;
    font-family: 'Abril Fatface', cursive;
    font-size: 23px;
    letter-spacing: 10px;
    color: white;
    background-color: #273E47;

}
section {
    padding: 20px;
    font-family: 'Roboto Mono', monospace;

}

p, li {
    line-height: 1.5em;
}

#tutorials {
    background-color: #D8C99B;
    padding-top: 40px;
    padding-bottom: 40px;
}

#homework {
    background-color: #D8973C;
    padding-top: 40px;
    padding-bottom: 40px;

}
#inspiration {
    background-color: #BD632F;
    padding-top: 40px;
    padding-bottom: 40px;
}